<div class="menu">
  <div class="menu-text">
    <h1>Mister Cocktail</h1>
    <h2>The Open Cocktail Library</h2>
    <h2><%= link_to "Add Your Favourite Recipe", new_cocktail_path %></h2>
  </div>
</div>
<ul>
  <%= render 'shared/cocktail_card' %>
</ul>

