<div class="container">
  <div class = "static-nav">
    <h1>Mister Cocktail</h1>
    <h2>Browse our Cocktail Menu</h2>
  </div>
 
  <div class= "cocktails_list">
  	<ul>
      <% @cocktails.each do |cocktail|%>
        <li> 
  	      <h3><%=link_to cocktail.name, cocktail_path(cocktail.id)%></h3>
  	    </li>
      <%end%>
    </ul>
    <%= link_to "Create your own cocktail!", new_cocktail_path  %>
  </div>
</div>