<div class="container">
  <h1>Make your own cocktail:</h1>
   <div class = "form">
    <%= simple_form_for(@cocktail) do |f|%>
      <%= f.input :name %>
      <%= f.button :submit, class: "btn btn-primary"%>
    <% end %>
  </div>
  <%= link_to "Return to homepage", cocktails_path %>
</div>